@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Gloria+Hallelujah&family=Inter&family=Rubik+Moonrocks&family=Titillium+Web:wght@200;400&family=Zeyada&display=swap');
:root {
    --primary-color: #E0ECF7;
    --secondary-color: #005172;
    --accent1-color: #FF1053;
    --accent2-color: #190B28;

    --heading-font: 'Rubik Moonrocks', sans-serif;
    --paragraph-font: 'inter', san-serif;

    --nav-background-color: #ff1053;
    --nav-link-color: #E0ECF7;
    --nav-hover-link-color: #005172;
    --nav-hover-background-color: #ff1053;
}
body {
    font-family: var(--paragraph-font);
    max-width: 1080px;
    padding: 20px;
    background-color: var(--accent2-color);
}
footer {
    width: 100%;
    background-color: var(--nav-background-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: right;
}
h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 3.5rem;
    position: absolute;
    width: 100%;
    text-align: center;

}
h2 {
    font-size: 3.5rem;
    margin-top: 150px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
h3 {
    font-size: 2.5rem;
    color: lightblue;

}
h4 {
    font-size: 2rem;
    color: lightgray;
}
header {
    background-color: var(--accent1-color);
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 150px 1fr;
    align-items: center;
    border: 10px solid var(--secondary-color);
    font-weight: 700;
}
header img {
    float: left;
    height: 80px;
    border-right: 10px solid var(--secondary-color)
}
p {
    padding: 15px;
    color: var(--primary-color);
    text-align: justify;
    width: 90%;
    font-size: 1.5rem;
}
li {
    color: var(--primary-color);
    font-size: 1.5rem;
}
main {
    background-color: var(--accent2-color);
    position: relative;
    width: 100%;
    margin: 1rem;
}
nav {
    width: 100%;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
ul li:link, ul li:visited {
    color: var(--nav-link-color)
}
nav a:link, nav a:visited {
    color: #e0ecf6;
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
section {
    text-align: center;
}
.figure {
    font-size: 18px;
}
.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 200px;
}
.hero h1 {
    text-align: center;
    width: 100%;
}
.hero img {
    float: right;
    margin: 15px 20px 0px 20px;
    box-shadow: 0 0 20px black;
}
.hero a {
    position: absolute;
    top: 500px;
    left: 200px;
    height: auto;
    background-color: #190b2e;
}
.hero p {
    opacity: 80%;
    color: white;
    width: 400px;
    font-size: 14.5px;
    box-shadow: 0 0 20px black;
}
.history {
    display: flex;
    display: block;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
}
.adventure {
    position: relative;
    display: flex;
    flex: 1 auto;
    margin: 5px;
    max-width: 1080px;
    min-width: auto;
    color: var(--primary-color);
    font-size: 20px;
    justify-content: center;
    flex-wrap: wrap;
}