@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Gloria+Hallelujah&family=Inter&family=Rubik+Moonrocks&family=Titillium+Web:wght@200;400&family=Zeyada&display=swap');
:root {
    --primary-color: #E0ECF7;
    --secondary-color: #005172;
    --accent1-color: #FF1053;
    --accent2-color: #190B28;

    --heading-font: 'Rubik Moonrocks', sans-serif;
    --paragraph-font: 'inter', san-serif;

    --nav-background-color: #ff1053;
    --nav-link-color: #E0ECF7;
    --nav-hover-link-color: #005172;
    --nav-hover-background-color: #ff1053;
}
body {
    font-family: var(--paragraph-font);
    max-width: 1080px;
    padding: 20px;
    background-color: var(--accent2-color);
}
footer {
    width: 100%;
    background-color: var(--nav-background-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: right;
}
h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 3.5rem;
    position: absolute;
    width: 100%;
    text-align: center;

}
h2 {
    font-size: 3.5rem;
    margin-top: 150px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
h3 {
    font-size: 2.5rem;
    color: lightblue;

}
table {
    background-color: #E0ECF7;
}
button {
    height: 50px;
    border-radius: 5px;
    margin: 0;
    background-color: var(--nav-link-color);
    color: var(--nav-hover-link-color);
    font-family: 'inter', san-serif;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    border: none;
}
h4 {
    font-size: 2rem;
    color: lightgray;
}

header {
    background-color: var(--accent1-color);
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 150px 1fr;
    align-items: center;
    border: 10px solid var(--secondary-color);
    font-weight: 700;
}
header img {
    float: left;
    height: 80px;
    border-right: 10px solid var(--secondary-color)
}
p {
    padding: 15px;
    color: var(--primary-color);
    text-align: justify;
    width: 90%;
    font-size: 1.5rem;
}
footer p {
    color: black;
    font-weight: bold;
}
li {
    color: var(--primary-color);
    font-size: 1.5rem;
}
main {
    background-color: var(--accent2-color);
    position: relative;
    width: 100%;
    margin: 1rem;
}
nav {
    width: 100%;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
ul li:link, ul li:visited {
    color: var(--nav-link-color)
}
nav a:link, nav a:visited {
    color: #e0ecf6;
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
section {
    text-align: center;
}
img {
    border-radius: 25pt;
    border: 3px solid #ff1053;
}
table {
    width: 90%;
    position: relative;
    margin-left: 50px;
    border-radius: 10px;
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color:#190b2e;
    border-collapse: separate;
}
th, .amenity {
    font-size: 20pt;
    padding: 15px;
    font-weight: bold;
    background-color:#005172;
    color: var(--nav-link-color);
    border-radius: 10px;
}
td {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border-style: solid;
}
.options {
    text-align: center;
}
.trip {
    font-size: 2rem;
    text-align: center;
    color:#FF1053;
    font-weight: bold;
}
.schedule {
    width: 90%;
    margin-left: 40px;
}
.mainpic {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border: none;
}
.offer {
    text-align: center;
}
.gridthing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.gridthing img {
    border: none;
}
.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 200px;
}
.hero h1 {
    text-align: center;
    width: 100%;
}
.hero img {
    float: right;
    margin: 15px 20px 0px 20px;
    box-shadow: 0 0 20px black;
}
.hero a {
    position: absolute;
    top: 500px;
    left: 200px;
    height: auto;
    background-color: #190b2e;
}
.hero p {
    opacity: 80%;
    color: white;
    width: 400px;
    font-size: 14.5px;
    box-shadow: 0 0 20px black;
}
.history {
    display: flex;
    display: block;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
}
.adventure {
    position: relative;
    display: flex;
    flex: 1 auto;
    margin: 5px;
    max-width: 1080px;
    min-width: auto;
    color: var(--primary-color);
    font-size: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 100px;
    border: 1px solid #d7d7ff;
    border-radius: .5rem;
    display: grid;
    background-color:#2c1842;
}
fieldset {
    display: grid;
    grid-gap: .2rem;
    margin: .5rem;
    border: 1px solid #d7d7ff;
    padding: 20px;
    background-color: #005172;
    border-radius: 10px;
    text-align: center;
}
.push {
    height: 100px;
    padding-top: 100px;
    font-size: 65pt;
    width: 100%;
    text-align: center;
}
legend {
    padding: .5rem;
    color: #E0ECF7;
    font-size: 1.8em;
    font-weight: bold;
}
label, input, select, textarea {
    font-family: inter, san-serif;
    color: #e0ecf7;
    font-size: 18pt;
}
label {
    text-align: center;
    padding-right: 1rem;
    grid-row: 1;
}
input, select, textarea {
    padding: .5rem;
    font-size: .9rem;
}
input[type="radio"] {
    width: 18px;
    height: 18px;
    text-align: center;
    margin: 10px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

button:hover {
    background-color: #ff1053;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 1fr 3fr;
    margin: .5rem;
}