@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Gloria+Hallelujah&family=Inter&family=Titillium+Web:wght@200;400&family=Zeyada&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'zeyada', san-serif;
    font-size: 1.2em;
    color: #d7d7ff;
    background: #190b28;
}
header {
    margin: 0 auto;
    width: 425px;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: white;
    font-family: inter, san-serif;
    text-align: center;
}
form {
    width: 450px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #d7d7ff;
    border-radius: .5rem;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .2rem;
    margin: .5rem;
    border: 1px solid #d7d7ff;
    padding: 1rem;
}
legend {
    padding: .5rem;
    color: #d7d7ff;
    font-size: 1.5em;
}
label,input, select, textarea, button {
    font-family: inter, san-serif;
    font-size: .8em;
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: .5rem;
    font-size: .9rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    width: 120px;
    padding: 5px;
    font-family: 'inter', san-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: none;
    border-radius: .5rem;
}
button:hover {
    background-color: #d7d7ff;
}
footer {
    margin: 1rem auto 0;
    width: 450px;
    text-align: center;
    font-size: 1em;
    color:#d7d7ff

}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .5rem; 0;
}