@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Titillium+Web&display=swap');

:root {
    --primary-color: #005172;
    --secondary-color: #ff1053;
    --accent1-color: aliceblue;
    --accent2-color: #190B28;
    --heading-font: 'Comforter', cursive;
    --paragraph-font: 'Titillium Web' sans-serif;
    --nav-background-color: #005172;
    --nav-link-color: #ff1053;
    --nav-hover-link-color: #ff99B6;
    --nav-hover-background-color: #0a0410;        
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px
    background-color: var(--accent2-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}