@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Gloria+Hallelujah&family=Inter&family=Titillium+Web:wght@200;400&family=Zeyada&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 0 auto;
    width: 425px;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: black;
    font-family: inter, san-serif;
    text-align: center;
}
body {
    font-size: 1em;
}
form {
    width: 450px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .2rem;
    margin: .5rem;
    border: 1px solid black;
    padding: 1rem;
}
legend {
    padding: .5rem;
    font-size: 1.5em;
}
label, input, select, textarea, button {
    font-family: inter, san-serif;
    font-size: 1.2em;
}
label {
    text-align: center;
    padding-right: 1rem;
}
input, select, textarea {
    padding: .5rem;
    font-size: .9rem;
    border-radius: .5rem;
}

button {
    width: 120px;
    padding: 5px;
    font-family: 'inter', san-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    background-color: #d7d7ff;
    border: black solid;
    border-radius: .5rem;
}
button:hover {
    background-color: #fff3cc;
}
footer {
    margin: 1em auto 0;
    width: 450px;
    text-align: center;
    font-size: 1em;
}