nav {
        background-color: #993366;
        padding: 10px

}
nav a {
        color: #d7d7ff;
        display: block;
        padding: 20px;
}
h1 {
        color: #993366;

}
img {
        width: 150px;
        height: auto;
        border: 10px solid #d7d7ff;
        padding: 2px;
        box-shadow: 0 0 30px gray;
}
p   {
         padding: 10px;
}