* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
nav {
        background-color: #993366;
        padding: 10px

}
nav a {
        color: #d7d7ff;
        display: block;
        padding: 20px;
}
h1 {
        color: #993366;

}
img {
        width: 150px;
        height: auto;
        border: 10px solid #d7d7ff;
        padding: 2px;
        box-shadow: 0 0 20px black;

}
p {
         padding: 20px;
}
main {
        max-width: 580px;
        padding: 20px
}
aside {
        width: 25rem;
        text-align: center;
        position: relative;
}
aside img {
        width: 300px;
        height: auto;
        margin: 20px;
}
main img {
        width: 150px;
        height: auto;
        float: right;
        margin: 18px;
}
footer {
        margin-top: 15px;
        border-top: 2px solid #993366;
        text-align: center;
}
/* Class Selectors */
.box {
        margin: 1rem;
        border: 1px solid #d7d7ff;
        padding: 2rem;
        background-color: #fff3cc;
        color: #993366;
}